

.app {
  background-color: rgb(34,34,34);
  height: 100%;
}


nav {
  background: rgb(85,164,213);
  padding: 25px;
  text-align: left;
  font-weight: 800;
  margin-bottom: 100px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90vh; */
  /* margin: 25px; */
  font-size: 2rem;
  font-weight: 800;
  /* border: solid red; */
}

.card {
  /* display: flex;
  justify-content: center; */
  height: 62vh;
  width: 50vw;
  background: white;
  margin: 10px 30px;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  /* margin: 50px;
  width: 80vw; */
  font-size: 1.5rem;
  /* align-items: center; */
  padding-bottom: 200px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* background: black; */
}


button {
  background: rgb(85,164,213);
  padding: 15px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  color: white;
  margin: 10px;
  font-size: 1.25rem;
}

h2 {
  text-decoration: underline;
  text-decoration-color: rgb(85,164,213);
}


span {
  font-weight: 800;
}